language: ruby
sudo: false
services:
  - xvfb
rvm:
- 2.6
before_script:
- export DISPLAY=:99.0

script:
- bundle exec rake --trace db:migrate
- bundle exec rake ci
deploy:
  provider: heroku
  api_key:
    secure: UlMxCM1TTbDExJpUTQ6icdAVrOEYkGBBvdKfJlficbGvkWmmClC7RISkGF2bIBxOICLvJ59y6vdG0MehVdpf2OSTv3EWhcnPrzRVxmtQlJ49IobCXaPJlOSqKiVkotv9EM1vljrDfiVniupvet9DI6NGLG7j1OTasXQUjhHvpfA=
  app:
    develop: keventer-test
    master: keventer
  run:
    - "rake db:migrate"
    - restart
    - "rake clean"
