.controls
  .form-wrapper
    %img(src="/assets/K-kleer_horizontal_negro_web.png")


    - if @data_to_show['Estado del pago'] == :APROBADO
      .alert.alert-success
        Felicidades tu cupo esta confirmado, en breve recibir치s un e-mail con la confirmaci칩n.
    - else
      .alert.alert-error
        Ups tenemos problemas con la transacci칩n, en breve recibir치s un e-mail con los detalles, te sugerimos intentarlo nuevamente.
    %br
    %table
      %tbody
        %tr
          %td
          %td
        - @data_to_show.each do |key,value|
          %tr
            %td= "#{key}: "
            %td= value

    %br
    %br
    .text-center
      %a{ href: "https://www.kleer.la/entrenamos/todos", title: "Volver a la agenda", class: "btn btn-primary"}
        Volver a la agenda
