.controls
  .form-wrapper
    %img(src="/assets/K-kleer_horizontal_negro_web.png")


    - if @data_to_show['Estado del pago'] == :APROBADO
      .alert.alert-success
        Transacción finalizada, en breve recibirás un e-mail con la confirmación.
    - else
      .alert.alert-error
        Ups tenemos problemas con la transacción, en breve recibirás un e-mail los detalles.
    %br
    %table
      %tbody
        %tr
          %td
          %td
        - @data_to_show.each do |key,value|
          %tr
            %td= "#{key}: "
            %td= value

    %br
    %br

    %a{ href: "https://www.kleer.la/entrenamos/todos", title: "Volver a la agenda", class: "btn btn-primary"}
      Volver a la agenda
