.page-header
  %h1.pull-left
    %i.icon-calendar
    %span Eventos
  .pull-right
    %a.btn.btn-white{ :href => edit_event_type_path(@event.event_type), :title => "Editar Tipo de Evento" }
      %i.icon-tasks
    %a.btn.btn-white{ :href => "/events/#{@event.id}/participants", :title => "Ver los Participantes" }
      %i.icon-group

= render 'form'
