.main-nav-bg
  %nav#main-nav
    .navigation
      %ul.nav.nav-stacked
        %li{ :class => menu_item_class(@active_menu, "dashboard") }
          %a{ :href => "/dashboard" }
            %i.icon-dashboard
            %span Dashboard
        -# %li{ :class => menu_item_class(@active_menu, "ratings") }
        -#   %a{ :href => "/dashboard/ratings" }
        -#     %i.icon-trophy
        -#     %span Ratings
        %li{ :class => menu_item_class(@active_menu, "pricing") }
          %a{ :href => "/dashboard/pricing" }
            %i.icon-money
            %span Pricing
        - if can? :manage, Event.new
          %li{ :class => menu_item_class(@active_menu, "events") }
            %a{ :href => "/events" }
              %i.icon-calendar
              %span Eventos
        - if can? :manage, EventType.new
          %li{ :class => menu_item_class(@active_menu, "event_types") }
            %a{ :href => "/event_types" }
              %i.icon-tasks
              %span Tipos de Evento
        %li{ :class => menu_item_class(@active_menu, "marketing") }
          %a{ :href => "/marketing" }
            %i.icon-bar-chart
            %span Marketing
        %li{ :class => menu_item_class(@active_menu, "articles") }
          %a{ :href => "/admin/articles" }
            %i.icon-file
            %span Articles
        %li{ :class => menu_item_class(@active_menu, "news") }
          %a{ :href => "/admin/news" }
            %i.icon-bolt
            %span News
        %li{ :class => menu_item_class(@active_menu, "resources") }
          %a{ :href => "/resources" }
            %i.icon-book
            %span Resources
        - if can? :manage, Trainer.new
          %li{ :class => menu_item_class(@active_menu, "trainers") }
            %a{ :href => trainers_path }
              %i.icon-briefcase
              %span= t('menu.trainers')
        %li{ :class => menu_item_class(@active_menu, "images") }
          %a{ :href => "/images" }
            %i.icon-folder-open
            %span= t('menu.images')
        %li{ :class => menu_item_class(@active_menu, "admin") }
          %a{ :href => admin_root_path }
            %i.icon-cog
            %span Nueva versión!
            %span.label.label-success{ style: "color:#ffffff;text-shadow:none;"}
              new
        %li{ :class => menu_item_class(@active_menu, "images") }
          %a{ :href => "/oauth_tokens" }
            %i.icon-cog
            %span= 'Tokens'
