.page-header
  %h1.pull-left
    %i.icon-tasks
    %span Tipos de Evento
  .pull-right
    %a.btn.btn-white{ :href => "/event_types/#{@event_type.id}/testimonies", :title => "Testimonios" }
      %i.icon-comment
    %a.btn.btn-white{ :href => "/event_types/#{@event_type.id}/certificate_preview", :title => "Preview Certificados" }
      %i.icon-eye-open

= render 'form'
