@import "trix";

/* Override ActiveAdmin's list-style for Trix editor content */
form .trix-content ul,
form .trix-content ol {
  list-style: initial;
}

/* Ensure proper indentation for list items inside Trix content */
form .trix-content ul {
  list-style-type: disc;
}

form .trix-content ol {
  list-style-type: decimal;
}

html .panel > h3 {
  font-weight: 400 !important;
}

.period-group {
  color: black;
  padding-left: 5px;
  background: darksalmon;
  margin-bottom: unset;
}

.no-table-headings {
  margin-top: 0px;
}

.no-table-headings thead {
  display: none;
}

.cell-semaphore { padding-right: 0px; }

.status-green   { border-right: 5px solid green; }
.status-yellow  { border-right: 5px solid yellow; }
.status-red     { border-right: 5px solid red; }

/* Service model */
.outcomes-list .custom-bullet {
  display: inline-block;
  margin-right: 8px;
  color: white;
  background-color: green;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px; /* Adjust if using a different icon/font size */
}

.outcomes-list .list-content {
  display: inline;
}

.outcomes-list .custom-bullet::before {
  content: "\2713"; /* Unicode checkmark */
}