on:
  push:
    branches: [ '*']

jobs:
  CI:
    runs-on: ubuntu-latest
    environment: keventer
    env:
      KEVENTER_AWS_ACCESS_KEY_ID: ${{ secrets.KEVENTER_AWS_ACCESS_KEY_ID }}
      KEVENTER_AWS_SECRET_ACCESS_KEY: ${{ secrets.KEVENTER_AWS_SECRET_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v4
      - name: Install ImageMagick
        run: |
          sudo apt-get update
          sudo apt-get install -y libmagickwand-dev
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.7
      - name: Install dependencies
        run: bundle install
      - name: Run tests
        run: rails db:test:prepare ci
