%table{ :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600", :style => "font-size:medium;font-family:'Times New Roman';border:1px solid rgb(221,221,221)" }
  %tbody
    %tr
      %td{ :align => "center", :valign => "top", :style => "border-collapse:collapse" }
        %table{ :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600" }
          %tbody
            %tr
              %td{ :valign => "top", :style => "border-collapse:collapse" }
                %table{ :border => "0", :cellpadding => "0", :cellspacing => "0" }
                  %tbody
                    %tr
                      %td{ :valign => "top", :style => "border-collapse:collapse" }
                        %table{ :border => "0", :cellpadding => "20", :cellspacing => "0", :width => "100%" }
                          %tbody
                            %tr
                              %td{ :valign => "top", :style => "border-collapse:collapse" }
                                = yield
              %td{ :valign => "top", :width => "200", :style => "border-collapse:collapse;border-left-width:0px" }
                %table{ :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "200" }
                  %tbody
                    %tr
                      %td{ :valign => "top", :style => "border-collapse:collapse" }
                        %table{ :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%" }
                          %tbody
                            %tr
                              %td{ :valign => "top", :style => "border-collapse:collapse;padding-top:20px;padding-right:20px;padding-left:20px" }
                                %table{ :border => "0", :cellpadding => "0", :cellspacing => "4" }
                                  %tbody
                                    %tr
                                      %td{ :align => "left", :valign => "middle", :width => "24", :style => "border-collapse:collapse;padding-bottom:5px" }
                                        %img{ :src => "https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/cdn-images.mailchimp.com/icons/social-block/color-facebook-128.png", :width => "24", :style => "border:0px;line-height:16px;outline:none;display:inline;min-height:auto!important;margin:0px!important" }
                                      %td{ :align => "left", :valign => "middle", :style => "border-collapse:collapse;padding-bottom:5px" }
                                        %div{ :style => "color:rgb(80,80,80);font-family:Arial;font-size:12px;line-height:18px" }
                                          %a{ :href => "http://www.facebook.com/kleer.la", :style => "color:rgb(51,102,153)", :target => "_blank" }
                                            facebook.com/kleer.la
                                    %tr
                                      %td{ :align => "left", :valign => "middle", :width => "24", :style => "border-collapse:collapse;padding-bottom:5px" }
                                        %img{ :src => "https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/cdn-images.mailchimp.com/icons/social-block/color-twitter-128.png", :width => "24", :style => "border:0px;line-height:16px;outline:none;display:inline;min-height:auto!important;margin:0px!important" }
                                      %td{ :align => "left", :valign => "middle", :style => "border-collapse:collapse;padding-bottom:5px" }
                                        %div{ :style => "color:rgb(80,80,80);font-family:Arial;font-size:12px;line-height:18px" }
                                          %a{ :href => "https://twitter.com/kleer_la/", :style => "color:rgb(51,102,153)", :target => "_blank" }
                                            @kleer_la
                                    %tr
                                      %td{ :align => "left", :valign => "middle", :width => "24", :style => "border-collapse:collapse;padding-bottom:5px" }
                                        %img{ :src => "https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/cdn-images.mailchimp.com/icons/social-block/color-forwardtofriend-128.png", :width => "24", :style => "border:0px;line-height:16px;outline:none;display:inline;min-height:auto!important;margin:0px!important" }
                                      %td{ :align => "left", :valign => "middle", :style => "border-collapse:collapse;padding-bottom:5px" }
                                        %div{ :style => "color:rgb(80,80,80);font-family:Arial;font-size:12px;line-height:18px" }
                                          %a{ :href => "mailto:entrenamos@kleer.la", :target => "_blank" } entrenamos@kleer.la
                        %table{ :border => "0", :cellpadding => "20", :cellspacing => "0", :width => "100%" }
                          %tbody
                            %tr
                              %td{ :valign => "top", :style => "border-collapse:collapse" }
                                %img{ :src => "https://s3-sa-east-1.amazonaws.com/kleer-images/indira_mail.png", :alt => "", :border => "0", :width => "160", :height => "304", :style => "border:0px none;min-height:304px;line-height:16px;outline:none;display:inline;width:160px;margin:0px;padding:0px;max-width:160px" }
