%table{ :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600", :style => "font-size:medium;font-family:'Times New Roman';border:1px solid rgb(221,221,221)" }
  %tbody
    %tr
      %td{ :valign => "top", :style => "border-collapse:collapse" }
        = yield
      %td{ :valign => "top", :width => "200", :height => "247", :style => "border-collapse:collapse;border-left-width:0px" }
        %br
        %br
        %br
        %br
        %img{ :src => "https://kleer-images.s3-sa-east-1.amazonaws.com/mail_img_derecha.png", :alt => "", :border => "0", :width => "160", :height => "247", :style => "border:0px none;min-height:247px;line-height:16px;outline:none;display:inline;width:160px;margin:0px;padding:0px;max-width:160px" }
